.sidebar_row{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.leftsidebarows_icons{
    color: #d3d1d1;
    font-size: larger;
}

.leftsidebarows_title{
    flex: 1;
    margin-left: 20px;
    font-size: 15px;
    font-weight: 500;
}

.sidebar_row:hover{
    background-color: #403f3f;
    cursor: pointer;
}

.sidebar_row:hover > .leftsidebarows_icons{
    color: #FF0000;
}

.sidebar_row:hover > .leftsidebarows_title{
    font-weight: bold;
}

